.git
cmake-build-debug/
cmake-build-debug
.idea

build/
__pycache__/
ZL*
chi_build/
bin/
Makefile
scratch/

# Latex compile files
*.aux
*.lof
*.log
*.lot
*.synctex.gz
*.toc

# All vtk mesh files
*.vtu
*.pvtu